<div class ="d-flex justify-content-center">
<input [(ngModel)]='searchQuery' class="input-group-text" type="text" id="myInput" placeholder="Search by genre or title..." title="Type in a name">
</div>
<br>
<div class="container-fluid">
  <div class="row row-cols-xl-6">
    <div class="col mb-4" *ngFor="let movie of movies|filter:searchQuery">
      <div class="shadow-lg p-10 mb-10 bg-white rounded card" >
        <a routerLink ="/movie/{{movie.id}}">
        <img [src]="movie.image" onerror="this.src='https://www.publicdomainpictures.net/pictures/280000/velka/not-found-image-15383864787lu.jpg'" class="card-img-top" alt="https://via.placeholder.com/150" width="250" height="400">
        <div class="card-body">
          <h5 class="card-title">{{movie.title}}</h5>
          <p class="card-text">{{movie.genre}}</p>
          <ngb-rating [max]="5" [rate]="getRating(movie.ratings)" *ngIf = "movie.ratings" [readonly]="true"></ngb-rating>
        </div>
        </a>
        <div *ngIf="user.role==='admin'">
          <button class ="btn btn-light" (click)="deleteMovie(movie.id)">DELETE</button>
          <button class ="btn btn-light" (click)="openAddMovieModal(movie)">EDIT</button>
        </div>
      </div>
    </div>
    <div class="col mb-4" *ngIf="user.role==='admin'">
      <div class="card dotted" style="width: 18rem;">
        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Add Movie</h5>
          <p class="card-text"></p>
          <button class="btn btn-light" (click)="openAddMovieModal({})">Add Movie</button>
        </div>
      </div>
    </div>
  </div>
</div>